<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyInfra Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script>
        (function () {
            const saved = localStorage.getItem("theme");
            const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
            if (saved === "dark" || (!saved && prefersDark)) {
                document.documentElement.classList.add("dark");
            }
        })();
    </script>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyInfra" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
</head>

<body>
    <div class="container">
        <div class="topbar">
            <nav class="tabs">
                <a href="{{ url_for('index') }}" class="tab {% if request.path == '/' %}active{% endif %}">Dashboard</a>
                <a href="{{ url_for('add') }}" class="tab {% if request.path == '/add' %}active{% endif %}">Add website</a>
            </nav>
            <button id="theme-toggle" class="theme-toggle" title="Donkere modus"><i class='fa-solid fa-sun'></i></button>
        </div>
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <a href="https://github.com/Kikkerslijm410/MyInfra" target="_blank" class="github-link">
            <i class="fab fa-github"></i>
            GitHub
        </a>

        <a href="https://github.com/Kikkerslijm410?tab=repositories" target="_blank" class="github-link">
            <i class="fa-solid fa-code"></i>
            More projects
        </a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
    <script>
        const toggle = document.getElementById("theme-toggle");
        function updateToggleLabel() {
            toggle.textContent = document.documentElement.classList.contains("dark") ? <i class="fa-solid fa-sun"></i> :<i class="fa-solid fa-moon"></i>;
        }
        updateToggleLabel();
        toggle.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");
            localStorage.setItem("theme", document.documentElement.classList.contains("dark") ? "dark" : "light");
            updateToggleLabel();
        });
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
